# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
  - windows
julia:
  - "1"
  - nightly
matrix:
  allow_failures:
    # - julia: nightly
  fast_finish: true
notifications:
  email: false
